 body {
    font-family: 'Lucida Sans Regular', sans-serif;
  }

  .strike {
   text-decoration: line-through;
  }

 .btn-warning {
   border: 5px solid black;
   color: white;
 }

 .task-list-item {
   cursor: cursor;
 }